body{background-color:rgba(0, 225, 255, 0.575);}
body{color: rgb(36, 36, 36);}
h1{color: rgb(233, 66, 0);}
.cuevas {color:rgb(220, 93, 20);}
.ilustracion{
    margin-top: 4rem;
    margin-left: 4rem;
    font-style: italic;
    
}
    .footerblog{margin-top: 2rem;
    margin-left: 5rem;}
.titulodelblog{text-align: center; font-size: 2rem; font-style:arial ; text-decoration: wavy underline;}

/*article{border-bottom: 1px solid #fff; }*/
article{border-bottom-width: 3px ;
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;}

        nav ul li {list-style: none;}

.resaltado{color:yellow;}

nav ul li a{text-decoration: none;}
.img{align-content: center;}
#aidi{color:blueviolet;}